apiVersion: batch/v1
kind: Job
metadata:
  generateName: {{ vars.name }}-
spec:
  template:
    spec:
      containers:
      - name: {{ vars.name }}
        image: {{ vars.image }}
        command: {{ vars.command }}
      restartPolicy: Never
  backoffLimit: 4
